@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.waves-mask {
    background-color: red;
    -webkit-mask-image: url(./src/assets/waves.svg);
    mask-image: url(./src/assets/waves.svg);
}
