# Ambiente virtual
venv/
.venv/
backend/venv/

# Cache do Python
__pycache__/
*.py[cod]
*.pyo

# Arquivos de log
*.log

# Arquivos de ambiente
.env

# Banco de dados local
*.sqlite3

# VSCode settings
.vscode/

# Node modules (para o front-end em React)
frontend/node_modules/
frontend/dist/
frontend/build/

# Outros
.DS_Store
