.react-calendar {
    width: 100%;
    background-color: white;
    color: black;
    border: none;
    padding: 1.5rem;
    font-size: 1.2rem;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  }

  .react-calendar__tile {
    padding: 1rem 0;
  }

  .dark .react-calendar {
    background-color: #1f2937;
    color: white;
  }

  .dark .react-calendar__tile--active {
    background: #8b5cf6;
    color: white;
  }

/* Feelings */
.joy {
  background-color: #fdef95 !important;
  color: black !important;
  border-radius: 10%;
}

.sadness {
  background-color: #c7e6f2 !important;
  color: black !important;
  border-radius: 10%;
}

.anger {
  background-color: #f7b445 !important;
  color: black !important;
  border-radius: 10%;
}

.love {
  background-color: #f9c9c9 !important;
  color: black !important;
  border-radius: 10%;
}

.afraid {
  background-color: #c8b4e3 !important;
  color: black !important;
  border-radius: 10%;
}

.peace {
  background-color: #b8e4c2 !important;
  color: black !important;
  border-radius: 10%;
}

.surprise {
  background-color: #fcddb5 !important;
  color: black !important;
  border-radius: 10%;
}

.hope {
  background-color: #d3eca7 !important;
  color: black !important;
  border-radius: 10%;
}

.nostalgia {
  background-color: #ebd1b4 !important;
  color: black !important;
  border-radius: 10%;
}

.confidence {
  background-color: #a2d3da !important;
  color: black !important;
  border-radius: 10%;
}

.none {
  background-color: #f7b445 !important;
  color: black !important;
  border-radius: 10%;
}
